body{
    margin-top: auto;
}

h2{
    text-align: start;

}

p{
    text-align: center;
  
}

header{ 
    border-style: solid;
    border-color: black; 
    border-left: 5px;
    border-width: 5px;
    text-align: start;
    height: 100%;
    width: 700px;
    
}
